.login-ui .login-dialog .logo {
    background-image: url('app/ext/tisafejump/web/images/tisafe-logo.png');
	margin: 1.5em auto;
	width: 9em;
	height: 3em;
	-webkit-background-size: 9em auto;
	background-repeat: no-repeat;
}
div.login-ui {
  background-image: url('app/ext/tisafejump/web/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.login-ui .login-dialog {
	background-color: white;
}